:root {
    /* COLORES */
    --blue: #3cc2ef;
    --red: #ed6077;
    --grey: #666b80;
    --black: #402f44;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* CUERPO DE LA SWITCH */

.container {
    width: 70vw;
    height: 31vw;
}

.container-body {
    display: flex;
}

/* BOTONES SUPERIORES */

.container-buttons {
    display: flex;
    justify-content: space-between;
}

.buttons-LR {
    height: 6vw;
    width: 10.75vw;
    z-index: 1;
    background-color: var(--black);
    margin-bottom: -5.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

#button-L {
    border-radius: 10vw 0 0 0;
}

#button-R {
    border-radius: 0 10vw 0 0;
}

/* JOYCONS */

.container-joycon {
    width: 12vw;
    height: 30vw;
    z-index: 2;
    background-color: lightblue;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#joycon-left {
    border-radius: 7vw 0 0 7vw;
    background-color: var(--blue);
}

#joycon-right {
    border-radius: 0 7vw 7vw 0;
    background-color: var(--red);
}

/* CONTENEDOR DE LAS BOTONERAS */

.container-joycon-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2Fr 5fr 5fr 2fr;
    width: 12vw;
    height: 25vw;
    /* background-color: rgb(255, 145, 0); */
    padding: 0 0 4vw 0;
}

/* BOTONES - Y + */

.joycon-buttons-minplus {
    grid-row: 1/2;
    display: flex;
    font-weight: 900;
    cursor: pointer;
    user-select: none;
    color: var(--black);
}

#minus {
    grid-column: 2/3;
    font-size: calc(0.5em + 4vw);
    line-height: 0.25em;
    justify-content: right;
    padding: 0 0.3em 0 0;
    text-shadow: rgba(0, 0, 0, 0.25) 0.3vh 0.3vh 0.5vh;
}

#minus:active {
    text-shadow: none;
}

#plus {
    grid-column: 1/2;
    font-size: calc(0.5em + 3vw);
    line-height: 0.75em;
    justify-content: left;
    padding: 0 0 0 0.3em;
    text-shadow: rgba(0, 0, 0, 0.25) 0.3vh 0.3vh 0.5vh;
}

#plus:active {
    text-shadow: none;
}

/* JOYSTICKS */

.joycon-buttons-joystick {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#joystick-left {
    background-color: var(--black);
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0.5vh 0.5vh 1vh;
}

#joystick-left:active {
    box-shadow: none;
}

.joystick-right {
    grid-row: 3/4;
}

#joystick-right {
    background-color: var(--black);
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0.5vh 0.5vh 1vh;
}

#joystick-right:active {
    box-shadow: none;
}

/* PANTALLA */

.container-screen {
    width: 46vw;
    height: 30vw;
    background-color: var(--black);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

