:root {
    /* COLORES */
    --blue: #3cc2ef;
    --red: #ed6077;
    --grey: #666b80;
    --black: #402f44;
    --darkgray: #4f3b53;
    --white: #ddd2e3;
    --black-shadow: rgba(0, 0, 0, 0.35);
    --white-shadow: rgba(255, 255, 255, 0.15);
}

* {
    box-sizing: border-box;
    user-select: none;
    cursor: default;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--white);
}

/* CUERPO DE LA SWITCH */

.container {
    width: 75vw;
    height: 31vw;
}

.container-body {
    display: flex;
}

/* BOTONES SUPERIORES */

.container-buttons {
    display: flex;
    justify-content: space-between;
}

.buttons-LR {
    height: 6vw;
    width: 9vw;
    z-index: 1;
    background-color: var(--black);
    margin-bottom: -5.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.buttons-LR:active {
    transform: translateY(0.1vw)
}

#button-L {
    border-radius: 10vw 0 0 0;
}

#button-R {
    border-radius: 0 10vw 0 0;
}

/* JOYCONS */

.container-joycon {
    width: 12vw;
    height: 30vw;
    z-index: 2;
    display: flex;
    align-items: center;
}

#joycon-left {
    border-radius: 7vw 0 0 7vw;
    background-color: var(--blue);
    box-shadow: var(--white-shadow) 1vw 1vw inset, rgba(0, 0, 0, 0.10) 0 -1vw 0.25vw inset, var(--black-shadow) 0px 1vw 1.5vw;
}

#joycon-right {
    border-radius: 0 7vw 7vw 0;
    background-color: var(--red);
    box-shadow: rgba(0, 0, 0, 0.10) -1vw -1vw 0.25vw inset, var(--white-shadow) 0 1vw inset, var(--black-shadow) 0px 1vw 1.5vw;
}

/* CONTENEDOR DE LAS BOTONERAS */

.container-joycon-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2Fr 5fr 5fr 2fr;
    width: 12vw;
    height: 25vw;
    /* background-color: rgb(255, 145, 0); */
    padding: 0 0 4vw 0;
}

/* BOTONES - Y + */

.joycon-buttons-minplus {
    grid-row: 1/2;
    display: flex;
    font-weight: 900;
    color: var(--darkgray);
}

#minus {
    grid-column: 2/3;
    font-size: calc(0.5em + 4vw);
    line-height: 0.25em;
    justify-content: right;
    padding: 0 0.3em 0 0;
    text-shadow: var(--black-shadow) 0.3vh 0.3vh 0.3vh;
}

#minus:active {
    text-shadow: none;
}

#plus {
    grid-column: 1/2;
    font-size: calc(0.5em + 3vw);
    line-height: 0.75em;
    justify-content: left;
    padding: 0 0 0 0.3em;
    text-shadow: var(--black-shadow) 0.3vh 0.3vh 0.3vh;
}

#plus:active {
    text-shadow: none;
}

/* JOYSTICKS */

.joycon-buttons-joystick {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#joystick-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgray);
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    box-shadow: var(--black-shadow) 0.75vh 0.75vh 1vh, var(--white-shadow) 0.25vw 0.25vw 0.25vw inset;
    margin-bottom: 1vw;
}

#joystick-left:active {
    box-shadow: none;
}

#joystick-left-interior {
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    border: inset var(--black-shadow) 0.1vw;
    box-shadow: var(--black-shadow) 0.1vw 0.1vw inset, var(--white-shadow) 0.1vw 0.1vw 0.1vw;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 0%, rgba(226, 224, 227, 0.15) 20%, rgba(64, 47, 68, 1) 100%);
}

.joystick-right {
    grid-row: 3/4;
}

#joystick-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgray);
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    box-shadow: var(--black-shadow) 0.75vh 0.75vh 1vh , var(--white-shadow) 0.25vw 0.25vw 0.25vw inset;
    margin-top: 1vw;
}

#joystick-right:active {
    box-shadow: none;
}

#joystick-right-interior {
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    border: inset var(--black-shadow) 0.1vw;
    box-shadow: var(--black-shadow) 0.1vw 0.1vw inset, var(--white-shadow) 0.1vw 0.1vw 0.1vw;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 0%, rgba(226, 224, 227, 0.15) 20%, rgba(64, 47, 68, 1) 100%);
}

/* CRUCETAS */

.joycon-buttons-round-container {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
}

.buttons-round-grid {
    width: 8vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


.buttons-round {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgray);
    border-radius: 100%;
    box-shadow: var(--black-shadow) 0.25vw 0.25vw 0.25vw, var(--white-shadow) 0.25vw 0.25vw inset; 
}

.buttons-round:active {
    box-shadow: none;
}

.up {
    grid-column: 2/3;
}

.left {
    grid-column: 1/2;
    grid-row: 2/3;
}

.right {
    grid-row: 2/3;
    grid-column: 3/4;
}

.down {
    grid-row: 3/4;
    grid-column: 2/3;
}

.letters {
    color: var(--white);
    font-size: 1.5vw;
}

.triangle {
    width: 0;
    height: 0;
    border: 0.5vw solid transparent;
}

.triangle-up {
    border-bottom: 1vw solid black;
    margin-bottom: 0.75vw;
}

.triangle-left {
    border-right: 1vw solid black;
    margin-right: 0.75vw;
}

.triangle-right {
    border-left: 1vw solid black;
    margin-left: 0.75vw;
}

.triangle-down {
    border-top: 1vw solid black;
    margin-top: 0.75vw;
}

/* BOTONES INFERIORES */

.joycon-buttons-down {
    display: flex;

}

#buttons-down-left {
    grid-column: 2/3;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 2vw 0 0;
}

.joycon-buttons-down-screenshot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgray);
    width: 2vw;
    height: 2vw;
    border-radius: 20%;
    box-shadow: var(--black-shadow) 0.25vw 0.25vw 0.25vw, var(--white-shadow) 0.15vw 0.15vw inset;

}

.joycon-buttons-down-screenshot:active {
    box-shadow: none;
}

#buttons-down-right {
    justify-content: flex-start;
    align-items:flex-end;
    padding: 0 0 0 2vw;
}

.joycon-buttons-down-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgray);
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    box-shadow: var(--black-shadow) 0.25vw 0.25vw 0.25vw, var(--white-shadow) 0.15vw 0.15vw inset;

}

.joycon-buttons-down-home:active {
    box-shadow: none;
}

#screenshot {
    width: 1.25vw;
    height: 1.25vw;
    border-radius: 100%;
    border: solid black 0.1em;
}

#home {
    width: 1.15vw;
    height: 1.15vw;
}

/* PANTALLA */

.container-screen-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 51vw;
    height: 30vw;
    background-color: var(--black);
    box-shadow: var(--black-shadow) 0px 1vw 1.5vw;
}

.container-screen-notch {
    width: 1.25vw;
    height: 1.5vw;
    background-color: var(--white);
}

#left-notch {
    border-radius: 0 0 0.6vw 0;
}

#right-notch {
    border-radius: 0 0 0 0.6vw;
}

.container-screen {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 45.5vw;
    height: 27vw;
    background-color: black;
    margin: 1.5vw 0 0 0;
    overflow: hidden;
}

.container-screen-interior {
    z-index: 2;
    width: 35vw;
    height: 85vw;
    background-color: var(--white-shadow);
    rotate: 50deg;
}

